body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #abb0b1;
    color: #324665;
}

#header-container {
    background-color: #324665;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
}

#header-container a {
    text-decoration: none;
}

#header {
    position: fixed;
    left: 50;
}